###1 Write a Python program to print "Hello, World!"

In [11]:
print("Hello, World!")

Hello, World!

###2 Write a Python program that displays your name and age.

In [12]:
print("My name is Ankita Yadav and I am 21 Years old ")

My name is Ankita Yadav and I am 21 Years old

###3 Write code to print all the pre-defined keywords in Python using the keyword library.

In [14]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

###4 Write a program that checks if a given word is a Python keyword.

In [25]:


word= input("Enter a word:")
if keyword.iskeyword(word):
  print(f"{word} is python keyword.")
else:
    print(f"{word} is no python keyword.")

Enter a word:for
for is python keyword.

### 5 Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.

In [62]:
from ast import literal_eval
list=["apple","mango","banana"]
tuple=("apple","mango","banana")

#modifying the list
list[2]= "oranges"
print(list)
#modifying the tuple
tuple[2]= "oranges"

['apple', 'mango', 'oranges']

TypeError: 'tuple' object does not support item assignment

### 6 Write a function to demonstrate the behavior of mutable and immutable arguments.

In [38]:
def modify_elements(mutable, immutable):
    mutable.append(10)  # Mutates the list
    immutable += 10  # Creates a new integer object
    print("Inside function:", mutable, immutable)

my_list = [1, 2, 3]
my_int = 5

modify_elements(my_list, my_int)
print("Outside function:", my_list, my_int)

Inside function: [1, 2, 3, 10] 15
Outside function: [1, 2, 3, 10] 5

### 7 Write a program to demonstrate the use of logical operators

In [42]:
a=10
b=20
print(a<b and a>5)
print(a>b or a>5)
print(not(a>b))

True
True
True

### 8 Write a Python program to convert user input from string to integer, float, and boolean types.

In [52]:
user_input= input("Enter a Value:")
print("string:", user_input)
print("int:", int(user_input))
print("Float:", float(user_input))
print("boolean:", bool(user_input))

Enter a Value:5
string: 5
int: 5
Float: 5.0
boolean: True

### 9 Write code to demonstrate type casting with list elements.

In [54]:
list=["1","2","3"]
int_list=[int(i) for i in list]
print("Original list:", list)
print("Converted list:", int_list)

Original list: ['1', '2', '3']
Converted list: [1, 2, 3]

### 10 Write a program that checks if a number is positive, negative, or zero.

In [60]:
num=float(input("Enter a number"))
if num >0:
  print("Positive number")
elif num <0:
    print("Negative number")
else:
          print("zero")

Enter a number5
Positive number

### 11  Write a for loop to print numbers from 1 to 10 .

In [64]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

### 12 Write a Python program to find the sum of all even numbers between 1 and 50.

In [67]:
even_sum = sum(i for i in range (1,51)  if i%2==0)
print("Sum of even numbers:", even_sum)

Sum of even numbers: 650

### 13 Write a program to reverse a string using a while loop.

In [74]:
string=input("Enter a string:")
reverse_string=""
l=len(string)-1
while l>=0:
  reverse_string+=string[l]
  l-=1
  print("Reverse string:",reverse_string)

Enter a string:5
Reverse string: 5

### 14 Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [76]:
num=int(input("Enter a number:"))
factorial =1
while num >0:
  factorial*=num
  num-=1
  print("factorial:",factorial)

Enter a number:1
factorial: 1